Recent versions of Email::MIME causes error "Invalid Content-Type 'subtype' parameter"

Error is:  Invalid Content-Type 'subtype' parameter at /usr/local/lib/perl5/site_perl/5.30.2/Email/ARF/Report.pm line 135.

```
t/00-compile.t ................ ok   
t/000-report-versions-tiny.t .. # 
# 
# Generated by Dist::Zilla::Plugin::ReportVersions::Tiny v1.09
# perl: 5.030002 (wanted any version) on linux from /usr/local/bin/perl
# 
# Capture::Tiny                                 => 0.48       (want any version)
# Carp                                          => 1.50       (want any version)
# Email::MIME                                   => 1.949      (want 1.900)  
# Email::MIME::ContentType                      => 1.024      (want 1.016)  
# Email::MIME::Creator                          => 1.949      (want any version)
# Email::Simple::Creator                        => 2.216      (want any version)
# ExtUtils::MakeMaker                           => 7.34       (want 6.30)   
# Params::Util                                  => 1.07       (want any version)
# Scalar::Util                                  => 1.5        (want any version)
# Test::More                                    => 1.302162   (want 0.96)   
# Test::Pod                                     => module not found. (want 1.41)   
# blib                                          => 1.07       (want any version)
# strict                                        => 1.11       (want any version)
# version                                       => 0.9924     (want 0.9901) 
# warnings                                      => 1.44       (want any version)
# 
# Thanks for using my code.  I hope it works for you.
# If not, please try and include this output in the bug report.
# That will help me reproduce the issue and solve your problem.
# 
t/000-report-versions-tiny.t .. ok   
t/basic.t ..................... ok     
t/create.t .................... 1/7 Invalid Content-Type 'subtype' parameter at /root/.cpanm/work/1591037562.7/Email-ARF-0.010/blib/lib/Email/ARF/Report.pm line 135.
# Looks like your test exited with 255 just after 1.
t/create.t .................... Dubious, test returned 255 (wstat 65280, 0xff00)
Failed 6/7 subtests 
t/errors.t .................... ok   

Test Summary Report
-------------------
t/create.t                  (Wstat: 65280 Tests: 1 Failed: 0)
  Non-zero exit status: 255
  Parse errors: Bad plan.  You planned 7 tests but ran 1.
Files=5, Tests=19,  1 wallclock secs ( 0.04 usr  0.00 sys +  0.38 cusr  0.08 csys =  0.50 CPU)
Result: FAIL
Failed 1/5 test programs. 0/19 subtests failed.
make: *** [Makefile:866: test_dynamic] Error 255
FAIL
```

It appears to be caused by the new dependency on build_content_type() from Email::MIME::ContentType introduced in Email-MIME-1.948-TRIAL

Email::MIME::ContentType doesn't appear to allow hyphens in subtypes

`my $re_token = qr/[\x21\x23-\x27\x2A\x2B\x2D\x2E\x30-\x39\x41-\x5A\x5E-\x7E]+/; # US-ASCII except SPACE, CTLs and tspecials ()<>@,;:\\"/[]?=`

Which conflicts with RFC 5965 section 3 

So, does this require a patch for Email::MIME::ContentType to allow hyphens in Content-Types?

Seeing exact same issue.  (Same module versions)

We've also seen this.

I believe this PR fixes the issue - https://github.com/rjbs/Email-ARF/pull/4

@rjbs what do you think?

Fix applied!